div{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    margin-top: 20px;
    overflow-y: scroll;
    max-height: calc(100vh - 300px);
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar{
        display: none;  /* Safari and Chrome */
    }  
}
dashboard-item{
    flex:1
}