.hero-list{
    hero-item{
        padding: 20px;
        &:first-child{ 
            padding: 0px;
        }
        &:last-child{ 
            padding: 0px;
        }
    }
    margin-top: 20px;  
    overflow-y: scroll;
    max-height: calc(100vh - 300px);
    -ms-overflow-style: none; 
    scrollbar-width: none;  
    &::-webkit-scrollbar{
        display: none;  
    }  
}
