.item{
    background-color: rgba(white,0.05);
    min-width: 250px;
    height: 100px;
    color: white;
    font-size: 22px;
    line-height: 100px; 
    text-align: center;
    letter-spacing: 5px;
    &:hover{
        cursor: pointer;
        transition: background-color 0.5s ease;
        background-color: rgba(white,0);
    }
}
