@import "../../../../colors.scss";

.item {
  background-color: $tspwhite;
  min-width: 250px;
  height: 100px;
  color: $defwhite;
  font-size: 22px;
  display: flex;
  align-items: center;
  letter-spacing: 5px;
  &-info {
    text-align: center;
    width: 100%;
  }
  &:hover {
    cursor: pointer;
    transition: background-color 0.5s ease;
    background-color: transparent;
  }
}
