<div class="detail">
    <div class="detail-info">
        <h2 class="detail-info-heading">Hero detail</h2>

        <div class="detail-info-readonly">
            <span class="detail-info-label">Id:</span>
            <span class="detail-info-data">{{hero.id}}</span>
        </div>
        <div class="detail-info-input">
            <span class="detail-info-label">Name:</span>
            <input [(ngModel)]="hero.name">
        </div>
    </div>
    <div class="detail-actions">
        <button>Save</button>
        <button (click)="closeDetail()">Close</button>
    </div>
</div>