<h1>Tour of heroes</h1>
<div class="content">
    <div class="controls">
        <div class="controls-switch">
            <button class="controls-switch-dash" [ngClass]="{'controls-switch-active': showDashboard === true}" (click)="showDash()">Dashboard</button>
            <button class="controls-switch-list" [ngClass]="{'controls-switch-active': !showDashboard === true}" (click)="showList()">Heroes</button>
        </div>
        <input class="controls-switch-search" placeholder="Find your hero..">
    </div>
    <router-outlet></router-outlet>
    <dashboard *ngIf="showDashboard"></dashboard>
    <hero-list *ngIf="!showDashboard"></hero-list>
</div>