@import "../colors.scss";

.content{
    margin: 0 auto;
    max-width: 50%;
}
.controls{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    &-switch{
       &-dash{
        margin-right: 20px;
       } 
    &-active{
        background-color: transparent;
        border-bottom: 2px solid white;
        color: $punchyellow;
    }
  }
}

@media only screen and (max-width: 1279px) {
    .controls-switch-search{
        margin-top: 20px;
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .content{
        max-width: 100%;
    }
}