@import "./colors.scss";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
    font-family: 'Roboto', sans-serif;
}

html { height:100%; }

body { 
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0; 
    background: radial-gradient(#0d1d31 0%, #0c0d13 100%);
}

h1{
    color: $defwhite;
    font-style: italic;
    text-align: center;
    font-family: 'Taviraj', serif;
    font-size: 50px;
}


h2{
    color: $punchyellow;
    font-size: 28px;
    font-weight: 600;
}

button{
    padding: 0px 20px;
    height: 50px;
    background-color: $tspblack;
    outline: none;
    border: none;
    color:$defwhite;
    font-size: 22px;
    &:hover{
        cursor: pointer;
        transition: background-color 0.5s ease;
        background-color: transparent;
    }
}

input{
    background: transparent;
    color: $defwhite;
    font-size: 22px;
    border: none;
    outline: none;
    border: 1px white;
    background-color: $tspblack;
    text-indent: 15px;
    height: 51px;

}
.mat-autocomplete-panel{
    background:$punchyellow;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    -ms-overflow-style: none; 
    scrollbar-width: none;  
    &::-webkit-scrollbar{
        display: none;  
    } 
    
}

.mat-option{
    font-weight: 600;
    &:hover{
        color: white;
        transition: letter-spacing 0.5s ease;
        letter-spacing: 5px;
    } 
}

.warning-snackbar {
    background-color: $tspwhite;
    color: white;
}

@media only screen and (max-width: 768px) {
    h2{
        text-align: center;
    }
}